h1 {
    text-align: center;
    background-color: black;
    color: white;
    border: 3px solid grey;
}

div {
    font-weight: bold;
    font-size: large;
    padding: 5px;
}

.city {
    padding-top: 20px;
}

.submit {
    margin: 10px;
    border: 1px solid grey;
    background-color: black;
    color: white
}